body {
    background-color: #FFFFFF;
}

header {
    margin-top: 12pt
}
li {
    font-family: "Avenir LT Std", Helvetica Neue, sans-serif;
    letter-spacing: .1em;
    font-size: .9em;
    display: inline;
    padding-left: 23pt;
    padding-right: 23pt;
    margin-top: 10pt;
}


ul.topnav li a {
    text-decoration: none;
    color: black
}

.topnav {
    margin-top: 8pt
}

.post {
    margin-top: 75pt;
    height: 84pt;
    width: 100%
}

.searchInput {
    background-image: url(mglass.png );
    background-position: right;
    background-repeat: no-repeat;
    width: 100%;
    position: relative;
    margin-top: 8pt;
    border: 1px solid lightgray
}

firstSlideshowImage {
    width: 50pt
}

footer {
    height: 55pt;
    align-content: center;
    background-color: #FEE9DF;
    width: 100%;
    margin-bottom: 50px
}

.emailInput {
    width: 22%;
    align-items: center;
    background-image: url(email-icon2.png);
    background-position: right;
    background-repeat: no-repeat;
    margin-top: 17pt;
    margin-left: 39%;
    margin-right: 39%;
    border: none
}

.mainImages {
    margin-top: 40pt
}
.relatedPhotos {
    width: 24%;
    padding-left: 15pt;
    padding-right: 5pt
}

hr {
    border-color: darkgray;
    width: 95%
}

.relatedTop1 {
    margin-bottom: -15pt
}

.relatedSpan2 {
 
    height: 5px;
    border-bottom: 1px solid darkgray;
    width: 96%;
    margin-top: 14px;
}

h1 {
    text-align: center;
    font-family: "BebasNeueBook", sans-serif;
    letter-spacing: .05em;
    font-weight: 400;
    font-size: 40pt;
}
h2 {
    font-family: "BebasNeueLight", sans-serif;
    letter-spacing: .05em;
    font-size: 16px;
    text-align: center;
    display: inline-block;
    position: relative;
}

h2:after,
h2:before {
    content: "";
    position: absolute;
    height: 1px;
    width: 150%;
    top: 40%;
    right: 100%;
    background: darkgray;
}

h2:after { left: 100%; }


h4 {
    font-family: "BebasNeueLight", sans-serif;
    letter-spacing: .05em;
    font-size: 22px;
    text-align: center;
    display: inline-block;
    background-color: white;
  
}

/*
h4:after,
h4:before {
    content: "";
    position: absolute;
    height: 1px;
    width: 490%;
    top: 40%;
    right: 100%;
    background: darkgray;
}

h4:after { left: 100%; }
*/

.bottomH5 {
    text-align: center;
    font-family: "Avenir LT Std", Helvetica Neue, sans-serif;
    color: darkgray;
    font-style: italic;
}


.blog1Image {
    padding-top: 120px;
    width: 100%;
}

p {
    width: 100%;
    font-family: "Avenir LT Std", Helvetica Neue, sans-serif;
    margin-top: 10pt;
    font-size: 1.1em
}

button {
    padding: 10pt;
    background-color: white;
    color: darkgray;
    font-family: "BebasNeueLight", sans-serif;
    width: 100pt;
    margin-right: 62%;
    margin-left: 38%;
    margin-bottom: 15pt;
    border: 1px solid lightgray;
}

button:hover {
    color: white;
    background-color: darkgray;
    transition: all 0.2s ease-in-out;
}

h6 {
    float: right;
}


.blackSocialIcons {
    word-spacing: 13pt;
    border: 1pt lightgray solid;
    padding: 20pt;
    text-align: center;
    margin-bottom: 25pt;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%
}

.follow {
    font-size: 12pt;
    margin-bottom: -21pt;
    background-color: white;
    z-index: 1;
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
}

.subscribeBox {
    border: 1pt lightgray solid;
    padding: 20pt;
    text-align: center;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 21pt
}

.emailInput1 {
    width: 100%;
    background-image: url(email-icon2.png);
    background-position: right;
    background-repeat: no-repeat;
    border: none;
    margin-top: 10pt;
}

.wishlist {
    border: 1pt lightgray solid;
    margin-right: 10%;
    margin-left: 10%;
    padding-top: 10%;
    height: 450px;
    width: 250pt
}

.wishlistImg {
    margin-left: 20%;
    width: auto;
    height: 250pt
}



.button-lefty {
    float: left;
    font-size: 1.5em;
    color: black;
}

.button-right {
    float: right;
    font-size: 1.5em;
    color: black
}

.button-lefty:hover {
    text-decoration: none;
}

.button-right:hover {
    text-decoration: none;
}

.wishHeader {
    background-color: white;
    margin-top: 20p
}

.favClass {
    align-content: center;
    margin-left: 10%;
    margin-right: 10 %;
    margin-top: 15pt;
}

.favorite {
    border: 1pt lightgray solid;
    width: 86%;
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 40pt
}

.fav {
    font-size: 12pt;
    text-align: center;
    margin-top: -7pt;
        background-color: white;
    z-index: 1;
    position: absolute;
    right: 40%
}

.socmed {
    float: left;
}

.posts2 {
    margin-top: -70pt
}

.posts3 {
    margin-top: 40pt;
    margin-bottom: 100pt
}

h3 {
    font-family: "BebasNeueLight", sans-serif;
    color: black;
    text-align: center
}

.instagram {
    padding-bottom: 50pt
}

.favorite {
    width: 250pt
}

.subscribers {
    width: 310pt;
}

.followMe {
    width: 290pt;
}

.myWishlist {
    text-align: center
}

.dateSpan {
    text-align: center
}

.spanTotalRelated {
    text-align: center
}


