* {
    box-sizing: border-box; 
    font-size: 0px;
}

body {
    @media (min-width: 768)
    width: 600pt;
 
}

.box{
   
    width: 100%;
    height: 100pt;
    background-color: #F5C6D6;
    border: 5pt solid white
}
.box1{
    display: inline-block;
    width: 25%;
    height: 100pt;
    background-color: #EE2E84;
    border: 5pt solid white
}
.box2{
    display: inline-block;
    width: 50%;
    height: 100pt;
    background-color: #85CFD8;
    border: 5pt solid white
}
.box3{
    display: inline-block;
    width: 75%;
    height: 100pt;
    background-color: #8DC63F;
    border: 5pt solid white
}
.box4{
    display: inline-block;
    width: 25%;
    height: 100pt;
    background-color: #E76E34;
    border: 5pt solid white
}