body {
    background-color: black;
}

h1 {
    font-family: "Press Start 2P";
    width: 100%;
    text-align: center;
    color: blue;
    font-size: 400%;
    padding-bottom: 30pt
}

h2 {
    font-family: "Press Start 2P";
    width: 100%;
    text-align: center;
    color: blueviolet;
    padding-bottom: 100pt
}

table {
    width: 100%;
}

th {
    font-size: 100%;
    font-family: "Atari Font Full Version";
    color: blue;
    padding: 15pt;
    background-color: chartreuse;
    width: 20%
}

td {
    color: white;
    font-family: "Atari Font Full Version";
    font-size: 75%;
    padding-top: 10pt;
    padding-bottom: 10pt;
    padding-left: 5pt;
}


table, th, td {
    border: 2px solid red
}

form {
    color: Yellow;
    font-family: "Atari Font Full Version";
    font-size: 100%;
    padding-bottom: 25pt;
    width: 100%;
    text-align: center;
}

button {
    width: 16%;
    margin-right: 42%;
    margin-left: 42%;
    margin-bottom: 20pt;
    margin-top: 20pt;
    font-family: "Press Start 2P";
    padding: 20pt;
    color: blue;
    background-color: gray
}