header {
    background-image: url("http://www.was-ct.org/wp-content/uploads/2011/08/10293828_790557417671971_24263164720899677_o.jpg");
    position: relative;
    background-size: contain;
    background-repeat: repeat-x;
    height: 150pt
}

h1 {
    font-family: "my-type-of-font";
    font-size: 60pt;
    margin-top: -15pt;
    font-size: relative;
    text-align: center;
    padding-top: 40pt;
    color: black;
}

h2 {
    text-align: center;
    margin-left: 20pt;
    margin-right: 20pt;
}
body {
    background-color: black
}

.shake {
	display:inline-block
}
.shake {
	display:block;
	position:relative;
}

h2.shake,
.shake.inline {
	display:inline-block;
}

a {
    color: white;
    font-family: "my-type-of-font";
}

a:hover {
    color: white;
    text-decoration: none;
}

@-webkit-keyframes spaceboots {
	0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
	10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
	20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
	30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
	40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
	50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
	60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
	70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
	80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
	90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
	100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}
.shake:hover,
.shake:focus {
	-webkit-animation-name: spaceboots;
	-webkit-animation-duration: 0.8s;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}

.headerNav {
    text-align: center;
    margin-top: 20pt;
    
}

img {
    width: 100%;
    margin-top: 50pt;
    margin-bottom: 50pt
}

.inputs {
    text-align: center;
    margin-top: 50pt;
    margin-bottom: 70pt
}

.llpara {
    margin-top: 50pt;
    width 60%;
    color: white;
    font-family: "my-type-of-font";
    text-align: center;
    margin-bottom: 50pt
}

.results {
    display: inline;
}

.locations {
    cursor: pointer;
    line-height: 35pt
}


h5 {
    font-size: 20pt;
    font-family: "my-type-of-font";
    float: left;
    text-decoration: underline

}


.latlonresults {
    color: white;
    font-family: "my-type-of-font";
    line-height: 30pt
}

a {
    color: white !important;
    text-decoration: none !important;
}

button:hover {
    background-color: none !important;
    
}

.maj {
    color: white;
    font-family: "my-type-of-font";
    line-height: 30pt
}