<!DOCTYPE html>
<html lang="en" ng-app="MyApp">

<head>
    <meta charset="UTF-8">
    <title>First Angular!</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.js"></script>
</head>

<body ng-controller="MainController">
   
    <h1>{{ person.firstName }} {{ person.lastName }}</h1>
    <input type="text" placeholder="Type a name here" ng-model="person.firstName">
    <input type="text" placeholder="Type a name here" ng-model="person.lastName">
    <script src="app.js"></script>
</body>

</html>